$primary:#0b2235; //for buttons,link
$background:#F8F8FF;    
$surface1: #a5d4e1;// cards,modal,containers
$surface2: #96bbd2;// cards,modal,containers
$text-primary:#10375b; //for title
$text-secondary:#3982a3; //for subtitle text
$text-inverse:#a5d4e1; //text on dark background
$body-text-color:#374151;


//spacing
$flex-gap:1rem;
$flex-padding:1rem;
$padding-tp:2rem;
$padding-lr:2rem;
$border-color:#0b2235;
$ticket-padding:0.5rem;